{% extends 'master.html' %}
{% block content %}

<div class="container">
  <div class="row">
    <div class="col-md-4"></div>
    <div class="col-sm-6 col-md-4">
      <div class="card" style="width: 18rem;">
        <img src="/users/media/{{product.med_img}}" class="card-img-top" alt="...">
        <div class="card-body">
          <h5 class="card-title">{{product.med_name}}</h5>
          <p class="card-text">{{product.description}}</p>
          <a href="{% url 'payment' %}" class="btn btn-primary">Buy Now</a>
          <a href="" class="btn btn-primary">Add to cart</a>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock %}