{% extends 'sellermaster.html' %}
{% block content %}

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6" style="border: 4px solid grey;">
            <form action="" method="post" enctype="multipart/form-data">
                {% csrf_token %}
                <table class="table">
                    <tr>
                        <td colspan="2">
                            <h4>Upload your product here</h4>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="medname">Medicine Name*</label></th>
                        <td><input type="text" name="medname" id="medname1"><br>
                            <label for="" id="l1"></label></th>
                    </tr>
                    <tr>
                        <th><label for="price">price*</label></th>
                        <td><input type="number" name="price" id="p1"><br>
                            <label for="" id="l2"></label>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="">quantity*</label></th>
                        <td><input type="number" name="qty" id="q1"><br>
                            <label for="" id="l3"></label>
                        </td>
                    </tr>
                    <tr>
                        <th><label for="">Product description:</label></th>
                        <!-- <td><textarea name="desp" id="t1" cols="25" rows="4"></textarea></td> -->
                        <td>
                            <textarea id='msg' name='desp' class='form-control'></textarea>
                        </td>
                    </tr>
                    <tr>
                        <td></td>
                        <td><input type="file" name="medimg" id="image"><br>
                            <label for="" id="l4"></label>
                        </td>
                    </tr>
                    <tr></tr>
                    <tr></tr>
                    <tr>
                        <td colspan="2" align="center">
                            <button type="submit" onclick="return produp()">Upload</button>
                        </td>
                    </tr>
                </table>
            </form>
        </div>
    </div>
</div>

<script>

    function produp() {
        status = 1
        medname = document.getElementById("medname1").value
        price = document.getElementById("p1").value
        quantity = document.getElementById("q1").value
        description = document.getElementById("t1").value
        image = document.getElementById("image").value

        if (medname == "") {
            document.getElementById("medname1").style.borderColor = "red"
            document.getElementById("l1").innerHTML = "please enter your medicine name"
            document.getElementById("l1").style.color = "red"
            status = 0
        }
        else {
            document.getElementById("medname1").style.borderColor = "green"
            document.getElementById("l1").innerHTML = ""
        }
        if (price == "") {
            document.getElementById("p1").style.borderColor = "red"
            document.getElementById("l2").innerHTML = "enter the price details"
            document.getElementById("l2").style.color = "red"
            status = 0
        }
        else {
            document.getElementById("p1").style.borderColor = "green"
            document.getElementById("l2").innerHTML = ""
        }

        if (quantity == "") {
            document.getElementById("q1").style.borderColor = "red"
            document.getElementById("l3").innerHTML = "enter the price details"
            document.getElementById("l3").style.color = "red"
            status = 0
        }
        else {
            document.getElementById("q1").style.borderColor = "green"
            document.getElementById("l3").innerHTML = ""
        }
        if (description == "") {
            document.getElementById("t1").style.color = "red"
            document.getElementById("t1").value = "enter details about product"
            status = 0
        }
        else {
            document.getElementById("t1").style.borderColor = "green"
            document.getElementById("t1").value = ""
        }
        if (image == "") {
            document.getElementById("l4").innerHTML = "enter product image"
            document.getElementById("l4").style.color = "red"
            status = 0
        }
        else {
            document.getElementById("l4").innerHTML = ""
        }
        if (status == 0) {
            return false
        }
    }

</script>

{% endblock %}