<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>sellerreg</title>
</head>
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<style>
  body {
    background-color: lightblue !important;
  }

  #msform {
    width: 400px;
    margin: 50px auto;
    text-align: center;
    position: relative;
  }

  #msform fieldset {
    background: white;
    border: 0 none;
    border-radius: 3px;
    box-shadow: 0 0 15px 1px rgba(0, 0, 0, 0.4);
    padding: 20px 30px;

    box-sizing: border-box;
    width: 80%;
    margin: 0 10%;
    position: absolute;
  }

  #msform fieldset:not(:first-of-type) {
    display: none;
  }
</style>
</head>

<body> <br><br><br><br><br><br><br><br><br>
  <form id="msform" method="post">
    {% csrf_token %}
    <fieldset>
      <h1>Login</h1>
      <div class="input-group input-group-lg">
        <span class="input-group-addon"><span class="glyphicon glyphicon-envelope"> </span></span>
        <input type="text" class="form-control" placeholder="email" name="email">
      </div><br>
      <div class="input-group input-group-lg">
        <span class="input-group-addon"><span class="glyphicon glyphicon-lock"> </span></span>
        <input type="password" class="form-control" placeholder="•••••••••••" name="password">
      </div>
      <br>
      <input type="submit" class="btn btn-success">
      <p class="text-center text-muted mt-5 mb-0">Dont have an account? <a href="{% url 'sellerreg' %}"
          class="fw-bold text-body"><u>Register now</u></a></p>
      <h4 style="color: red;"> {{message}}</h4>
    </fieldset>
  </form>

</body>

</html>